---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Rodrigo Ruiz Diaz | Portfolio" description=''>
	<main class="w-full max-w-screen-lg mx-auto flex flex-col">
    <Hero />
    <Projects />
		<Skills />
		<Experience />
  </main>
</Layout>

