---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Navbar from '../components/Navbar.astro'
import 'animate.css';
---

<Layout title="Rodrigo Ruiz Diaz | Portfolio" description=''>
  <Navbar />
	<main>
    <Intro />
    <Projects />
		<Skills />
		<Experience />
  </main>
</Layout>

