<footer class="w-full max-w-screen-lg mx-auto px-8 py-16 flex flex-col items-center justify-center gap-8">
  <div class="mx-auto mb-4 text-sm font-light">
    <p class="mb-2 text-center">© Rodrigo Ruiz Diaz. Todos los derechos reservados.</p>
    <p class="text-center">Sitio web construido con Astro 4.0 y Tailwind CSS</p>
  </div>
  <div class="px-2 py-2 w-full flex flex-wrap justify-center gap-2">
    <a href="" class="w-14 h-14 flex items-center justify-center text-white/75 text-xl rounded-full bg-slate-950 border border-slate-800 duration-150 hover:text-white hover:scale-105">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="" class="w-14 h-14 flex items-center justify-center text-white/75 text-xl rounded-full bg-slate-950 border border-slate-800 duration-150 hover:text-white hover:scale-105">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="" class="w-14 h-14 flex items-center justify-center text-white/75 text-xl rounded-full bg-slate-950 border border-slate-800 duration-150 hover:text-white hover:scale-105">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="" class="px-4 h-14 flex items-center justify-center text-white/75 gap-4 text-xl rounded-full bg-slate-950 border border-slate-800 duration-150 hover:text-white hover:scale-105">
      <i class="fa-solid fa-file-export"></i>
      <span class="text-base">Descargar CV</span>
    </a>
  </div>
</footer>