<header class="navbar ">
  <nav class="navbar-container animate__animated animate__bounceInDown">
    <a href="#inicio" class="navbar-link active">Inicio</a>
    <a href="#proyectos" class="navbar-link">Proyectos</a>
    <a href="#habilidades" class="navbar-link">Habilidades</a>
    <a href="#experiencia" class="navbar-link">Experiencia</a>
  </nav>
</header>
<style is:global>
  .navbar {
    @apply fixed top-0 left-0 z-20 w-full px-4 py-4 flex justify-center;
  }
  .navbar-container {
    @apply px-2 py-2 flex flex-wrap justify-center gap-2 gap-x-4 rounded-xl lg:rounded-full backdrop-blur-sm bg-slate-950 !bg-opacity-75 border border-slate-700 outline-none;
  }
  
  .navbar-link {
    @apply relative h-12 px-4 flex items-center  text-white/75 duration-150 hover:text-white
  }
  .active {
    @apply relative text-white
  }
  .active::after {
    content: '';
    @apply absolute top-0 left-0 -z-10 w-full h-full bg-slate-800 border border-slate-700 rounded-full;
  }
</style>
<script>
  document.addEventListener('scroll', () => {
  const sections = document.querySelectorAll('section');
  const navLinks = document.querySelectorAll('.navbar-link');

  sections.forEach(sec => {
    const rect = sec.getBoundingClientRect();

    if (rect.top <= 80 && rect.bottom >= 80) {
      navLinks.forEach(link => {
        link.classList.remove('active');
      });

      const correspondingLink = document.querySelector(`.navbar-link[href*='${sec.id}']`);
      if (correspondingLink) {
        correspondingLink.classList.add('active');
      }
    }
  });
});
</script>