<header class="fixed top-0 left-0 z-20 w-full px-4 py-4 flex justify-center">
  <nav class="px-2 py-2 flex flex-wrap justify-center gap-4 rounded-xl lg:rounded-full backdrop-blur-sm bg-slate-950 !bg-opacity-75 border border-slate-700">
    <a href="#" class="h-12 px-4 flex items-center justify-center bg-slate-800 border border-slate-700 rounded-full">Inicio</a>
    <a href="#proyectos" class="h-12 px-4 flex items-center justify-center text-white/75 duration-150 hover:text-white">Proyectos</a>
    <a href="#habilidades" class="h-12 px-4 flex items-center justify-center text-white/75 duration-150 hover:text-white">Habilidades</a>
    <a href="#experiencia" class="h-12 px-4 flex items-center justify-center text-white/75 duration-150 hover:text-white">Experiencia</a>
  </nav>
</header>