<button 
  id="themeSwitch"
  class="fixed bottom-4 right-4 z-20 size-12 flex justify-center items-center text-slate-800/75 dark:text-slate-200/75 bg-slate-50 dark:bg-slate-950 border-2 border-slate-300 dark:border-slate-700 rounded-full duration-150 hover:text-slate-800 dark:hover:text-slate-200 hover:scale-105">
  <i></i>
</button>
<script>
  const themeSwitchBtn = document.querySelector('#themeSwitch');
  const themeSwitchIcon = document.querySelector('#themeSwitch i');
    
  const toggleTheme = () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light'
      document.documentElement.classList.remove('dark')
    } else {
      localStorage.theme = 'dark'
      document.documentElement.classList.add('dark')
    }
  }

  const updateThemeIcon = () => {
    const currentTheme = localStorage.theme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
    themeSwitchIcon.className = currentTheme === 'dark' ? 'fa-solid fa-sun' : 'fa-solid fa-moon'
  }

  themeSwitchBtn.addEventListener('click',() => {
    toggleTheme()
    updateThemeIcon()
  })

  updateThemeIcon();
</script>