---
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-cyan-700 absolute top-[-6rem] -z-10 right-[11rem] h-[31.25rem] w-[31.25rem] rounded-full blur-[10rem] sm:w-[68.75rem]"></div>
    <div class="bg-cyan-700 absolute bottom-[-1rem] -z-10 left-[-35rem] h-[31.25rem] w-[50rem] rounded-full blur-[10rem] sm:w-[68.75rem]"></div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Onest Variable', sans-serif;
		@apply relative bg-slate-900 text-white
	}
	main {
		@apply max-w-screen-md min-h-screen mx-auto flex flex-col
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	.debug {
		@apply border border-red-500
	}

</style>
<script>
import AOS from 'aos';
import 'aos/dist/aos.css';

window.addEventListener('load', () => AOS.init({easing: 'ease-in-out'}))
</script>